* {
    box-sizing: border-box;
    padding: 10;
    margin: 10;
    padding-inline-start: 10px;
}

body {
    font-size: 1.75rem;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'sans-serif';
}

h1 {
    text-align: center;
}

#countdown {
    text-align: end;
    padding-right: 1rem;
}
nav {
    margin: 0;
    padding: 1rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#intro {
    display: block;
}

.intro-description {
    text-align: center;
    background-color: transparent;
    margin-top: 15px;
}

button {
    display: block;     
    margin:0 auto;
    width: 15rem;
    padding: 10px;
    font-size: 1.7rem;
}

#quiz {
    display: none;
}

#question-title {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    margin-top: 15px;
}

.question {
    text-align: left;
    padding-left: 100px;
}

#question-results {
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: left;
}

.final, #high-scores {
    display: none;
}